body {
  color: #404040;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #333333;
}
body,
#content-container,
#navbar,
.pace {
  background-color: #e8ebf0;
}
.page-header {
  color: #6b6b6b;
}
.searchbox > .input-group input:focus {
  border-color: #458fd2;
}
.navbar-header {
  background-color: #262a30;
}
.navbar-content {
  background-color: #ffffff;
}
.navbar-brand {
  background-color: transparent;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  color: #ffffff;
}
.navbar-top-links > li > a {
  color: #404040;
}
.navbar-top-links > li > a:focus {
  background-color: transparent;
}
.navbar-top-links  > li  > a:hover,
.navbar-top-links  > .open  > a,
.navbar-top-links  > .open  > a:focus {
  background-color: #f2f2f2;
  color: #404040;
}
.navbar-top-links .tgl-menu-btn  > a,
.navbar-top-links .tgl-menu-btn  > a:hover,
.navbar-top-links .tgl-menu-btn  > a:focus {
  color: #ffffff;
}
/*---------------------------------*/
@media (min-width: 768px) {
  .navbar-header {
    background-color: transparent;
  }
  .navbar-header:before {
    content: '';
    background-color: #2f343b;
  }
  #navbar-container {
    background-color: #ffffff;
  }
  #container.mainnav-in .brand-title,
  #container.mainnav-sm .brand-title,
  #container.mainnav-lg .brand-title {
    color: #ffffff;
  }
  .navbar-top-links .tgl-menu-btn > a,
  .navbar-top-links .tgl-menu-btn > a:hover,
  .navbar-top-links .tgl-menu-btn > a:focus {
    color: #404040;
  }
  .navbar-top-links .tgl-menu-btn > a:focus {
    background-color: transparent;
  }
}
/*======================================*/
/* MAIN NAVIGATION                      */
/*======================================*/
#mainnav-container,
#mainnav {
  background-color: #0CDAC3;
}
#mainnav .list-header,
#mainnav-menu a {
  color: #0CDAC3;
}
#mainnav-menu > li > a:hover,
#mainnav-menu > li > a:active,
#mainnav-menu > .active-link > a,
#mainnav-menu > .active-link > a:hover,
#mainnav-menu > .active-sub > a,
#mainnav-menu > .active-sub > a:hover,
#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
  color: #ffffff;
  background-color: #2a2f35;
  box-shadow: inset 4px 0 0 0 #2a70af;
}
#mainnav-menu > .active-sub > a,
#mainnav-menu > .active-sub > a:hover {
  box-shadow: none;
}
#mainnav-menu > li a.hover {
  color: #ffffff;
  background-color: #363c44;
}
#mainnav-menu ul,
.menu-popover .sub-menu ul {
  background-color: #363c44;
}
#mainnav-menu ul a:hover,
.menu-popover .sub-menu ul a:hover {
  background-color: #2f343b;
  color: #ffffff;
  box-shadow: inset 4px 0 0 0 #2768a3;
}
#mainnav-menu ul ul,
.menu-popover .sub-menu ul ul {
  background-color: #3a4149;
}
#mainnav-menu ul ul a:hover {
  background-color: #343941;
  color: #ffffff;
}
#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
  background-color: #32383f;
}
.menu-popover .sub-menu ul {
  background-color: #2c3138;
}
.menu-popover .sub-menu ul ul {
  background-color: #2a2e35;
}
.menu-popover .sub-menu ul ul a:hover {
  background-color: #2d3239;
  color: #ffffff;
  box-shadow: inset 4px 0 0 0 #2768a3;
}
.menu-popover .single-content {
  color: #ffffff;
  background-color: #363c44;
}
#container.mainnav-sm #mainnav-menu > .active-link > a,
#container.mainnav-sm #mainnav-menu > .active-sub > a,
#container.mainnav-sm #mainnav-menu > .active-link a:hover,
#container.mainnav-sm #mainnav-menu > .active-sub a:hover {
  background-color: #458fd2;
}
#mainnav .list-header {
  color: #787b7f;
}
/*======================================*/
/* MAIN NAVIGATION : SHORTCUT           */
/*======================================*/
#mainnav-shortcut .shortcut-grid {
  background-color: #2f343b;
  color: #ffffff;
}
/*======================================*/
/* MAIN NAVIGATION : WIDGET            */
/*======================================*/
.mainnav-widget {
  color: #acaeb1;
}
@media (min-width: 768px) {
  #container.mainnav-sm #mainnav-menu .active-link > a,
  #container.mainnav-sm #mainnav-menu .active-sub > a {
    color: #ffffff;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a {
    color: #acaeb1;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a:hover {
    color: #ffffff;
    box-shadow: inset 4px 0 0 0 #2768a3;
    -webkit-transition: background-color 0.2s, padding-left 0.3s, box-shadow 0.4s;
    transition: background-color 0.2s, padding-left 0.3s, box-shadow 0.4s;
  }
  #container.mainnav-sm .shortcut-grid:hover {
    box-shadow: inset 4px 0 0 0 #2768a3;
    -webkit-transition: background-color 0.2s, padding-left 0.3s, box-shadow 0.4s;
    transition: background-color 0.2s, padding-left 0.3s, box-shadow 0.4s;
  }
  #container.mainnav-sm .shortcut-grid:hover,
  #container.mainnav-sm .popover.mainnav-shortcut {
    border: 0;
    background-color: #363c44;
    color: #ffffff;
  }
  /* MAIN NAVIGATION : POPOVER  */
  /*======================================*/
  .menu-popover .sub-menu ul li > a {
    color: #ffffff;
  }
  .menu-popover.popover {
    background-color: #363c44;
    color: #ffffff;
  }
  .menu-popover > .popover-title {
    background-color: #363c44;
    color: #ffffff;
  }
  .menu-popover .mainnav-widget-content {
    background-color: #363c44;
  }
  #container.mainnav-sm #mainnav .mainnav-widget .show-small .hover {
    color: #ffffff;
    background-color: #363c44;
  }
}
/* OFF CANVAS RESPONSIVE */
/*======================================*/
@media (min-width: 768px) {
  #container.mainnav-in.easeInBack #mainnav-container,
  #container.mainnav-in.easeOutBack #mainnav-container,
  #container.mainnav-in.easeInOutBack #mainnav-container,
  #container.mainnav-in.jumping #mainnav-container,
  #container.mainnav-out.easeInBack #mainnav-container,
  #container.mainnav-out.easeOutBack #mainnav-container,
  #container.mainnav-out.easeInOutBack #mainnav-container,
  #container.mainnav-out.jumping #mainnav-container {
    box-shadow: -20px 0 0 0 #2f343b;
  }
  #container.mainnav-out .brand-title {
    background-color: transparent;
    color: #404040;
  }
}
/*======================================*/
/* ADDITIONAL SIDEBAR */
/*======================================*/
#container #aside-container {
  background-color: #ffffff;
}
#container #aside-container .nav-tabs li:not(active) a {
  background-color: #343941;
}
#container.aside-bright #aside a:not(.btn) {
  color: #404040;
}
#container.aside-bright #aside a:not(.btn):hover,
#container.aside-bright #aside a:not(.btn):focus {
  color: #272727;
}
#container.aside-bright #aside .nav-tabs li:not(.active) a {
  background-color: #f2f2f2;
}
#container.aside-bright .btn-link {
  color: #404040;
}
#aside {
  background-color: #3a4149;
  color: #ffffff;
}
#aside .bord-all,
#aside .bord-top,
#aside .bord-btm,
#aside .bord-left,
#aside .bord-rgt,
#aside .bord-hor,
#aside .bord-ver,
#aside .list-divider {
  border-color: #414852;
}
#aside .btn-link {
  color: #ffffff;
}
#aside .text-muted {
  color: #9099a6;
}
/* ADDITIONAL SIDEBAR : RESPONSIVE LAYOUT */
/*======================================*/
@media (min-width: 768px) {
  #container #aside-container {
    background-color: #ffffff;
  }
}
/* ADDITIONAL SIDEBAR : TOGGLE COLOR */
/*======================================*/
#container.aside-bright #aside {
  background-color: #ffffff;
  border-color: #f2f2f2;
  color: #333;
  border-left: 1px solid #f2f2f2;
}
#container.aside-bright #aside .text-light {
  color: #404040;
}
#container.aside-bright #aside .text-muted {
  color: #8d8d8d;
}
#container.aside-bright #aside .bord-all,
#container.aside-bright #aside .bord-top,
#container.aside-bright #aside .bord-btm,
#container.aside-bright #aside .bord-lft,
#container.aside-bright #aside .bord-rgt,
#container.aside-bright #aside .bord-hor,
#container.aside-bright #aside .bord-ver,
#container.aside-bright #aside .list-divider {
  border-color: #f7f7f7;
}
#container.aside-bright #aside .list-group .list-header,
#container.aside-bright #aside .text-muted {
  color: #8d8d8d;
}
#container.aside-bright #aside .progress {
  background-color: #e6e6e6;
}
#container.aside-bright.aside-left #aside {
  border-right: 1px solid #f7f7f7;
}
/*======================================*/
/* PAGER */
/*======================================*/
.pager li > a:hover,
.pager li > a:focus,
.pagination > li a:hover,
.pagination > li a:focus {
  background-color: #ffffff;
  border-color: #458fd2;
  color: #458fd2;
  box-shadow: inset 0 0 1px #458fd2;
}
/*======================================*/
/* PAGINATION */
/*======================================*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #458fd2;
  border-color: #458fd2;
}
/*======================================*/
/* DROPDOWN */
/*======================================*/
.dropdown-menu > li > a {
  padding: 5px 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #458fd2;
  color: #ffffff;
}
/* Checkbox & Radio default
    *==================================================*/
.form-checkbox.form-normal:not(.disabled):hover:before,
.form-radio.form-normal:not(.disabled):hover:before {
  border-color: #458fd2;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.list-group-transparent .list-group-item.active,
.list-group-transparent .list-group-item.active:hover,
.list-group-transparent .list-group-item.active:focus {
  background-color: #458fd2;
  border-color: #458fd2;
  color: #ffffff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #ffffff;
}
/*======================================*/
/* TAB */
/*======================================*/
.tab-base .nav-tabs > li:not(.active) > a:hover {
  border-color: #458fd2;
  border-bottom-color: transparent;
}
.tab-footer:after {
  content: '';
  display: table;
  clear: both;
}
.tab-stacked-right.tab-base .nav-tabs > li:not(.active) a:hover {
  border-color: #458fd2;
  border-left-color: transparent;
}
.nano > .nano-pane > .nano-slider {
  background-color: #458fd2;
}
#container.footer-fixed #footer {
  background-color: #2f343b;
  color: #ffffff;
}
.pace-running .pace .pace-progress,
.pace-running .pace .pace-activity {
  background-color: #2c75b8;
}
