/* ==============
  Account Pages
===================*/
.accountbg {
  background: url("../images/bg.jpg");
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
}

.wrapper-page {
  margin: 7.5% auto;
  max-width: 440px;
  position: relative;

  .logo-admin {
    font-size: 28px;
    line-height: 70px;
  }

  > .card {
    border-radius: .5rem;
  }
}

.user-thumb {
  position: relative;
  z-index: 999;
  img {
    height: 88px;
    margin: 0 auto;
    width: 88px;
  }
}

.ex-page-content {
  h1 {
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
  }
}

.account-page-full {
  left: 0;
  position: absolute;
  height: 100%;
  margin: 0;
  width: 420px;
  background-color: $white;

  .card {
    border: none;
  }
}

@media (min-width: 1200px) {
  .container.account-sign {
      width: 1140px;
      max-width: 100%;
  }
}

.account-sign {
  margin: 4% auto;
}
