.cd-dropdown,
.cd-select {
	position: relative;
	width: 260px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 260px;
	height: 40px;
	line-height: 40px;
	color: #0CAAC5;
	font-weight: 300;
	font-family:'Roboto';
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 0%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 100%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	box-shadow: 0px 4px 4px #CCC;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 40px;
	padding: 0 30px 0 75px;
	display: block;
	color: #0CAAC5;
	cursor: pointer;
	font-weight: 400;
	font-family:'Roboto';
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}
