
/*=====================*/
.social-nav {
	padding:0;
	list-style:none;
	display:inline-block;
	margin:0px auto;
	float: right;
}
.social-nav li {
	display:inline-block;
}
.social-nav a {
	display:inline-block;
	float:left;
	width:35px;
	height:35px;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	line-height:34px;
	background:#000;
	position:relative;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}
.top-bar .social-nav {
    float: none !important;
}
.top-bar .social-nav a {
    float: left;
    width: 15px;
    height: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social-nav a .fa {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.social-nav a:hover .fa {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.model-0 {
	position:absolute;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	left:0;
	top:50px;
}
.model-0 li {
	float:none;
	display:block;
}
.model-0 a:hover {
	padding-left:20px;
	width:65px;
}
.model-0 .twitter {
	background:#00aced;
}
.model-0 .facebook {
	background:#3b579d;
}
.model-0 .google-plus {
	background:#dd4a3a;
}
.model-0 .linkedin {
	background:#007bb6;
}
.model-0 .pinterest {
	background:#cb2026;
}
.model-1 li {
	margin:0 2px;
}
.model-1 a {
	background:#fff;
	-webkit-transition:-webkit-transform 1s,background 0.4s;
	-moz-transition:-moz-transform 1s,background 0.4s;
	-o-transition:-o-transform 1s,background 0.4s;
	transition:transform 1s,background 0.4s;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.model-1 a:hover {
	-webkit-transform:translateY(-10px);
	-moz-transform:translateY(-10px);
	-ms-transform:translateY(-10px);
	-o-transform:translateY(-10px);
	transform:translateY(-10px);
}
.model-1 .twitter {
	color:#00aced;
}
.model-1 .facebook {
	color:#3b579d;
}
.model-1 .google-plus {
	color:#dd4a3a;
}
.model-1 .linkedin {
	color:#007bb6;
}
.model-1 .pinterest {
	color:#cb2026;
}
.model-1 .skype {
	color:#01AEF2;
}
.model-1 .youtube {
	color:#E62117;
}
.model-2 a {
	overflow:hidden;
	font-size:18px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	margin:0 5px;
}
.model-2 a:hover {
	background:#fff;
	text-shadow:0px 0px #d4d4d4,1px 1px #d4d4d4,2px 2px #d4d4d4,3px 3px #d4d4d4,4px 4px #d4d4d4,5px 5px #d4d4d4,6px 6px #d4d4d4,7px 7px #d4d4d4,8px 8px #d4d4d4,9px 9px #d4d4d4,10px 10px #d4d4d4,11px 11px #d4d4d4,12px 12px #d4d4d4,13px 13px #d4d4d4,14px 14px #d4d4d4,15px 15px #d4d4d4,16px 16px #d4d4d4,17px 17px #d4d4d4,18px 18px #d4d4d4,19px 19px #d4d4d4,20px 20px #d4d4d4,21px 21px #d4d4d4,22px 22px #d4d4d4,23px 23px #d4d4d4,24px 24px #d4d4d4,25px 25px #d4d4d4,26px 26px #d4d4d4,27px 27px #d4d4d4,28px 28px #d4d4d4,29px 29px #d4d4d4,30px 30px #d4d4d4;
}
.model-2 .twitter {
	background:#00aced;
	text-shadow:0px 0px #0087ba,1px 1px #0087ba,2px 2px #0087ba,3px 3px #0087ba,4px 4px #0087ba,5px 5px #0087ba,6px 6px #0087ba,7px 7px #0087ba,8px 8px #0087ba,9px 9px #0087ba,10px 10px #0087ba,11px 11px #0087ba,12px 12px #0087ba,13px 13px #0087ba,14px 14px #0087ba,15px 15px #0087ba,16px 16px #0087ba,17px 17px #0087ba,18px 18px #0087ba,19px 19px #0087ba,20px 20px #0087ba,21px 21px #0087ba,22px 22px #0087ba,23px 23px #0087ba,24px 24px #0087ba,25px 25px #0087ba,26px 26px #0087ba,27px 27px #0087ba,28px 28px #0087ba,29px 29px #0087ba,30px 30px #0087ba;
}
.model-2 .twitter:hover {
	color:#00aced;
}
.model-2 .facebook {
	background:#3b579d;
	text-shadow:0px 0px #2d4278,1px 1px #2d4278,2px 2px #2d4278,3px 3px #2d4278,4px 4px #2d4278,5px 5px #2d4278,6px 6px #2d4278,7px 7px #2d4278,8px 8px #2d4278,9px 9px #2d4278,10px 10px #2d4278,11px 11px #2d4278,12px 12px #2d4278,13px 13px #2d4278,14px 14px #2d4278,15px 15px #2d4278,16px 16px #2d4278,17px 17px #2d4278,18px 18px #2d4278,19px 19px #2d4278,20px 20px #2d4278,21px 21px #2d4278,22px 22px #2d4278,23px 23px #2d4278,24px 24px #2d4278,25px 25px #2d4278,26px 26px #2d4278,27px 27px #2d4278,28px 28px #2d4278,29px 29px #2d4278,30px 30px #2d4278;
}
.model-2 .facebook:hover {
	color:#3b579d;
}
.model-2 .google-plus {
	background:#007bb6;
	text-shadow:0px 0px #005983,1px 1px #005983,2px 2px #005983,3px 3px #005983,4px 4px #005983,5px 5px #005983,6px 6px #005983,7px 7px #005983,8px 8px #005983,9px 9px #005983,10px 10px #005983,11px 11px #005983,12px 12px #005983,13px 13px #005983,14px 14px #005983,15px 15px #005983,16px 16px #005983,17px 17px #005983,18px 18px #005983,19px 19px #005983,20px 20px #005983,21px 21px #005983,22px 22px #005983,23px 23px #005983,24px 24px #005983,25px 25px #005983,26px 26px #005983,27px 27px #005983,28px 28px #005983,29px 29px #005983,30px 30px #005983;
}
.model-2 .google-plus:hover {
	color:#007bb6;
}
.model-2 .linkedin {
	background:#007bb6;
	text-shadow:0px 0px #005983,1px 1px #005983,2px 2px #005983,3px 3px #005983,4px 4px #005983,5px 5px #005983,6px 6px #005983,7px 7px #005983,8px 8px #005983,9px 9px #005983,10px 10px #005983,11px 11px #005983,12px 12px #005983,13px 13px #005983,14px 14px #005983,15px 15px #005983,16px 16px #005983,17px 17px #005983,18px 18px #005983,19px 19px #005983,20px 20px #005983,21px 21px #005983,22px 22px #005983,23px 23px #005983,24px 24px #005983,25px 25px #005983,26px 26px #005983,27px 27px #005983,28px 28px #005983,29px 29px #005983,30px 30px #005983;
}
.model-2 .linkedin:hover {
	color:#007bb6;
}
.model-2 .pinterest {
	background:#34DC09;
	text-shadow:0px 0px #34DC09,1px 1px #34DC09,2px 2px #34DC09,3px 3px #34DC09,4px 4px #34DC09,5px 5px #34DC09,6px 6px #34DC09,7px 7px #34DC09,8px 8px #34DC09,9px 9px #34DC09,10px 10px #34DC09,11px 11px #34DC09,12px 12px #34DC09,13px 13px #34DC09,14px 14px #34DC09,15px 15px #34DC09,16px 16px #34DC09,17px 17px #34DC09,18px 18px #34DC09,19px 19px #34DC09,20px 20px #34DC09,21px 21px #34DC09,22px 22px #34DC09,23px 23px #34DC09,24px 24px #34DC09,25px 25px #34DC09,26px 26px #34DC09,27px 27px #34DC09,28px 28px #34DC09,29px 29px #34DC09,30px 30px #34DC09;
}
.model-2 .pinterest:hover {
	color:#34DC09;
}
.model-2 .skype {
	background:#2b88ad;
	text-shadow:0px 0px #2b88ad,1px 1px #2b88ad,2px 2px #2b88ad,3px 3px #2b88ad,4px 4px #2b88ad,5px 5px #2b88ad,6px 6px #2b88ad,7px 7px #2b88ad,8px 8px #2b88ad,9px 9px #2b88ad,10px 10px #2b88ad,11px 11px #2b88ad,12px 12px #2b88ad,13px 13px #2b88ad,14px 14px #2b88ad,15px 15px #2b88ad,16px 16px #2b88ad,17px 17px #2b88ad,18px 18px #2b88ad,19px 19px #2b88ad,20px 20px #2b88ad,21px 21px #2b88ad,22px 22px #2b88ad,23px 23px #2b88ad,24px 24px #2b88ad,25px 25px #2b88ad,26px 26px #2b88ad,27px 27px #2b88ad,28px 28px #2b88ad,29px 29px #2b88ad,30px 30px #2b88ad;
}
.model-2 .skype:hover {
	color:#2b88ad;
}
.model-2 .youtube {
	background:#E62117;
	text-shadow:0px 0px #9f191e,1px 1px #9f191e,2px 2px #9f191e,3px 3px #9f191e,4px 4px #9f191e,5px 5px #9f191e,6px 6px #9f191e,7px 7px #9f191e,8px 8px #9f191e,9px 9px #9f191e,10px 10px #9f191e,11px 11px #9f191e,12px 12px #9f191e,13px 13px #9f191e,14px 14px #9f191e,15px 15px #9f191e,16px 16px #9f191e,17px 17px #9f191e,18px 18px #9f191e,19px 19px #9f191e,20px 20px #9f191e,21px 21px #9f191e,22px 22px #9f191e,23px 23px #9f191e,24px 24px #9f191e,25px 25px #9f191e,26px 26px #9f191e,27px 27px #9f191e,28px 28px #9f191e,29px 29px #9f191e,30px 30px #9f191e;
}
.model-2 .youtube:hover {
	color:#E62117;
}
.model-2 .rss {
	background:#ffa500;
	text-shadow:0px 0px #a37217,1px 1px #a37217,2px 2px #a37217,3px 3px #a37217,4px 4px #a37217,5px 5px #a37217,6px 6px #a37217,7px 7px #a37217,8px 8px #a37217,9px 9px #a37217,10px 10px #a37217,11px 11px #a37217,12px 12px #a37217,13px 13px #a37217,14px 14px #a37217,15px 15px #a37217,16px 16px #a37217,17px 17px #a37217,18px 18px #a37217,19px 19px #a37217,20px 20px #a37217,21px 21px #a37217,22px 22px #a37217,23px 23px #a37217,24px 24px #a37217,25px 25px #a37217,26px 26px #a37217,27px 27px #a37217,28px 28px #a37217,29px 29px #a37217,30px 30px #a37217;
}
.model-2 .rss:hover {
	color:#ffa500;
}

.model-3 {
	margin-bottom:50px;
}
.model-3 a {
	background:#fff;
	-webkit-transition:padding 0.4s;
	-moz-transition:padding 0.4s;
	-o-transition:padding 0.4s;
	transition:padding 0.4s;
	margin:0 5px;
}
.model-3 a:after {
	content:'';
	position:absolute;
	border:24px solid #fff;
	z-index:-1;
	border-bottom-color:transparent !important;
	left:0;
	top:60%;
	-webkit-transition:-webkit-transform 0.4s;
	-moz-transition:-moz-transform 0.4s;
	-o-transition:-o-transform 0.4s;
	transition:transform 0.4s;
}
.model-3 a:hover {
	color:#fff;
	padding-top:10px;
}
.model-3 a:hover:after {
	-webkit-transform:translateY(10px);
	-moz-transform:translateY(10px);
	-ms-transform:translateY(10px);
	-o-transform:translateY(10px);
	transform:translateY(10px);
}
.model-3 .twitter {
	color:#00aced;
}
.model-3 .twitter:hover {
	background:#00aced;
}
.model-3 .twitter:hover:after {
	border-color:#00aced;
}
.model-3 .facebook {
	color:#3b579d;
}
.model-3 .facebook:hover {
	background:#3b579d;
}
.model-3 .facebook:hover:after {
	border-color:#3b579d;
}
.model-3 .google-plus {
	color:#dd4a3a;
}
.model-3 .google-plus:hover {
	background:#dd4a3a;
}
.model-3 .google-plus:hover:after {
	border-color:#dd4a3a;
}
.model-3 .linkedin {
	color:#007bb6;
}
.model-3 .linkedin:hover {
	background:#007bb6;
}
.model-3 .linkedin:hover:after {
	border-color:#007bb6;
}
.model-3 .pinterest {
	color:#cb2026;
}
.model-3 .pinterest:hover {
	background:#cb2026;
}
.model-3 .pinterest:hover:after {
	border-color:#cb2026;
}
.model-4 li {
	margin:0 -5px;
}
.model-4 a {
    background: none;
    line-height: 1.7;
    font-size: 14px;
}
.model-4 a:hover {
	color: #1E2127;
}
.model-4 .twitter {
	color:#00aced;
}
.model-4 .facebook {
	color:#3b579d;
}
.model-4 .google-plus {
	color:#dd4a3a;
}
.model-4 .linkedin {
	color:#007bb6;
}
.model-4 .pinterest {
	color:#cb2026;
}
.model-4 .skype {
	color:#01AEF2;
}
.model-4 .youtube {
	color:#E62117;
}
.model-4 .rss {
	color:#ffa500;
}
.model-5 li {
	float:left;
}
.model-5 a {
	background:#222;
}
.model-5 .twitter:hover {
	color:#00aced;
}
.model-5 .facebook:hover {
	color:#3b579d;
}
.model-5 .google-plus:hover {
	color:#dd4a3a;
}
.model-5 .linkedin:hover {
	color:#007bb6;
}
.model-5 .pinterest:hover {
	color:#cb2026;
}
.model-6 li {
	float:left;
}
.model-6 a:hover {
	background:#fff;
}
.model-6 .twitter {
	background:#00aced;
}
.model-6 .twitter:hover {
	color:#00aced;
}
.model-6 .facebook {
	background:#3b579d;
}
.model-6 .facebook:hover {
	color:#3b579d;
}
.model-6 .google-plus {
	background:#dd4a3a;
}
.model-6 .google-plus:hover {
	color:#dd4a3a;
}
.model-6 .linkedin {
	background:#007bb6;
}
.model-6 .linkedin:hover {
	color:#007bb6;
}
.model-6 .pinterest {
	background:#cb2026;
}
.model-6 .pinterest:hover {
	color:#cb2026;
}
.model-7 li {
	margin:0 10px;
}
.model-7 a {
	background:none;
	-webkit-box-shadow:0 0 4px 3px;
	-moz-box-shadow:0 0 4px 3px;
	box-shadow:0 0 4px 3px;
	text-shadow:0 0 1px #333333;
	-webkit-transition:-webkit-transform 0.4s,background 0.4s;
	-moz-transition:-moz-transform 0.4s,background 0.4s;
	-o-transition:-o-transform 0.4s,background 0.4s;
	transition:transform 0.4s,background 0.4s;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.model-7 a .fa {
	-webkit-transition:-webkit-transform 1s;
	-moz-transition:-moz-transform 1s;
	-o-transition:-o-transform 1s;
	transition:transform 1s;
}
.model-7 a:hover {
	background:#fff;
}
.model-7 a:hover .fa {
	-webkit-transform:rotate(-10deg) scale(3);
	-moz-transform:rotate(-10deg) scale(3);
	-ms-transform:rotate(-10deg) scale(3);
	-o-transform:rotate(-10deg) scale(3);
	transform:rotate(-10deg) scale(3);
}
.model-7 .twitter {
	color:#00aced;
}
.model-7 .facebook {
	color:#3b579d;
}
.model-7 .google-plus {
	color:#dd4a3a;
}
.model-7 .linkedin {
	color:#007bb6;
}
.model-7 .pinterest {
	color:#cb2026;
}
.model-8 a {
	background:#FFF;
}
.model-8 a:hover {
	-webkit-box-shadow:0 48px 0 inset;
	-moz-box-shadow:0 48px 0 inset;
	box-shadow:0 48px 0 inset;
}
.model-8 a:hover>.fa {
	color:#fff;
}
.model-8 .twitter {
	color:#00aced;
}
.model-8 .twitter:hover {
	color:#00aced;
}
.model-8 .facebook {
	color:#3b579d;
}
.model-8 .facebook:hover {
	color:#3b579d;
}
.model-8 .google-plus {
	color:#dd4a3a;
}
.model-8 .google-plus:hover {
	color:#dd4a3a;
}
.model-8 .linkedin {
	color:#007bb6;
}
.model-8 .linkedin:hover {
	color:#007bb6;
}
.model-8 .pinterest {
	color:#cb2026;
}
.model-8 .pinterest:hover {
	color:#cb2026;
}
.model-9 li {
	margin:0 10px;
}
.model-9 a {
	color:#fff;
	overflow:hidden;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.model-9 a:hover {
	background:#fff;
}
.model-9 .twitter {
	background:#00aced;
}
.model-9 .twitter:hover {
	color:#00aced;
}
.model-9 .facebook {
	background:#3b579d;
}
.model-9 .facebook:hover {
	color:#3b579d;
}
.model-9 .google-plus {
	background:#dd4a3a;
}
.model-9 .google-plus:hover {
	color:#dd4a3a;
}
.model-9 .linkedin {
	background:#007bb6;
}
.model-9 .linkedin:hover {
	color:#007bb6;
}
.model-9 .pinterest {
	background:#cb2026;
}
.model-9 .pinterest:hover {
	color:#cb2026;
}
.model-3d-0 a {
	background:#333;
	float:left;
	margin:0 10px;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.model-3d-0 a:hover {
	-webkit-transform:rotateX(-90deg);
	-moz-transform:rotateX(-90deg);
	-ms-transform:rotateX(-90deg);
	-o-transform:rotateX(-90deg);
	transform:rotateX(-90deg);
}
.model-3d-0 a:hover .fornt {
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.model-3d-0 a:hover .back {
	-webkit-backface-visibility:visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	-o-backface-visibility:visible;
	backface-visibility:visible;
}
.model-3d-0 .front,.model-3d-0 .back {
	width:48px;
	height:48px;
	background:#333;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform:translateZ(18px);
	-moz-transform:translateZ(18px);
	-ms-transform:translateZ(18px);
	-o-transform:translateZ(18px);
	transform:translateZ(18px);
	-webkit-backface-visibility:visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	-o-backface-visibility:visible;
	backface-visibility:visible;
}
.model-3d-0 .back {
	font-size:32px;
	-webkit-transform:rotateX(90deg) translateZ(18px);
	-moz-transform:rotateX(90deg) translateZ(18px);
	-ms-transform:rotateX(90deg) translateZ(18px);
	-o-transform:rotateX(90deg) translateZ(18px);
	transform:rotateX(90deg) translateZ(18px);
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.model-3d-0 .twitter .back {
	background:#00aced;
}
.model-3d-0 .facebook .back {
	background:#3b579d;
}
.model-3d-0 .google-plus .back {
	background:#dd4a3a;
}
.model-3d-0 .linkedin .back {
	background:#007bb6;
}
.model-3d-0 .pinterest .back {
	background:#cb2026;
}
.model-3d-1 a {
	background:#fff;
	color:#666;
	float:left;
	margin:0 10px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.model-3d-1 a:hover {
	color:#fff;
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	-ms-transform:rotateY(-180deg);
	-o-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}
.model-3d-1 a:hover .fornt {
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.model-3d-1 a:hover .back {
	-webkit-backface-visibility:visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	-o-backface-visibility:visible;
	backface-visibility:visible;
}
.model-3d-1 .front,.model-3d-1 .back {
	width:48px;
	height:48px;
	position:absolute;
	top:0;
	left:0;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	-webkit-backface-visibility:visible;
	-moz-backface-visibility:visible;
	-ms-backface-visibility:visible;
	-o-backface-visibility:visible;
	backface-visibility:visible;
}
.model-3d-1 .back {
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	-ms-transform:rotateY(-180deg);
	-o-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}
.model-3d-1 .twitter .back {
	background:#00aced;
}
.model-3d-1 .facebook .back {
	background:#3b579d;
}
.model-3d-1 .google-plus .back {
	background:#dd4a3a;
}
.model-3d-1 .linkedin .back {
	background:#007bb6;
}
.model-3d-1 .pinterest .back {
	background: #cb2026;
}